html,body {
    min-width: 1400px;
}

body{
    background: #010101;
}

.navBackground{
    background: rgba(0,0,0,0.8);
    padding: 0px 108px;
    height: 96px;
    box-sizing: border-box;
}
img {
    -webkit-touch-callout: none; /* iOS Safari */

    -webkit-user-select: none; /* Chrome/Safari/Opera */

    -khtml-user-select: none; /* Konqueror */

    -moz-user-select: none; /* Firefox */

    -ms-user-select: none; /* Internet Explorer/Edge */

    user-select: none;
}
.navbar-default{
    border: none;
    min-width: 1400px;
}
html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 600%;
}
.page {
    width: 100%;
    height: 16.666668%;
    overflow: hidden;
}
.logo{
    margin-top: 28px;
}

.navstyle{
    margin-top: 20px;
    float: right;
    width: 830px;
}

.navstyle li{
    position: relative;
    list-style: none;
    float: right;
    text-align: center;
}

.navstyle li>a{
    color: #585858;
    text-decoration:none;
    font-size: 14px;
    line-height: 18px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: inherit;
}

.active>a{
    color: #ffffff !important;
}

.navBackground .active{
    color: #ffffff !important;
}

.navBackground .active:before{
    content: '';
    width: 24px;
    height: 3px;
    background: -webkit-linear-gradient(left, #F3582E , #EE3030); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #F3582E, #EE3030); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #F3582E, #EE3030); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #F3582E, #EE3030); /* ��׼���﷨ */
    display: block;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%);
}

.navstyle li:first-child{
    margin-right: 0px;
}

.home,
.introduction,
.display,
.projectSchedule,
.team,
.contactUs{
    position: relative;
    /*padding: 50px 0px;*/
    background-image: url("../images/bj.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
}

.home {
    position: relative;
}
.home .circle{
    position: relative;
    top: 50%;
    width: 35%;
    margin: 0 auto;
    transform: translateY(-60%);
}

.star{
    position: absolute;
    left:0px;
    top: 0px;
    animation: 3s starlight linear infinite;
}

.homeText{
    position: absolute;
    top: 50%;
    width: 50%;
    left: 50%;
    transform: translateY(-46%) translateX(-51%);
}

.homeBottomText{
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
}

.introduction{
    position: relative;
}

.introduction img{
    width: 65%;
    display: block;
    margin: 0 auto;
}

.introductionimg{
    position: relative;
    top: 50%;
    transform: translateY(-55%);
    animation: 5s introductionlight linear infinite;
}

.introductiontext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-55%) translateX(-50%);
}

.projectSchedule{
    color: #ffffff;
}

.projectTitle{
    padding-top: 10%;
}

.projectTitle img{
    width: 40%;
    display: block;
    margin: 0 auto;
}
.display {
    position: relative;
    overflow: hidden;
}
.disLeft {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}
.disRig {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.peojectContant{
}
.proTopCtn, .proBtmCtn {
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 82%;
}
 .proBtmCtn {
    display: block;
}
.peojectContant > div > div{
    float: left;
    position: relative;
}

.itemShow {
    /* width: 19%;
     background-image: url(../images/time.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    height: 208px;
    line-height: 208px;
    text-align: center;
    overflow: hidden; */
}
.peojectContant {
    margin-top: 5%;
}
.hoverShow {
    display: block;
}
.itemShow {
    width: 13.4%;
}
.itemShow .xxe1 {
    display: block;
}
.itemShow .xxe2 {
    display: none;
}

.itemShow:hover .xxe1 {
    display: none;
}
.itemShow:hover .xxe2 {
    display: block;
}
.itemShow:hover .proAbs>div:nth-child(2) {
    color: #fb4134;
}
.itemIcon {
    width: 8.5%;
    margin: 0 3%;
}
.proAbs {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    top: 30%;
}
.proAbs >div {
    margin: 5% 0;
}
.proAbs >div:nth-child(2) {
    font-size: 14px;
    width: 80%;
    margin: 5% auto;
}
.itemShowBottom{
    display: block;
    height: 41px;
}

.itemShowBottom img{
    margin: 0 auto;
    position: relative;
    right: 7.5%;
}
.itemListBottonDetail > div:nth-child(2) img{
    right: 6%;
} 
.itemListBottonDetail > div:nth-child(3) img{
    right: 4%;
} 
.itemListBottonDetail > div:nth-child(4) img{
    right: 2%;
} 
.itemShowDetail{
    position: relative;
    width: 100%;
}
.abslt {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 4% 5%;
}
.abs1 {
    font-size: 14px;
    padding-left: 16px;
    padding-top: 2%;
}
.abs2 {
    font-size: 12px;
    padding: 4%;
    line-height: 20px;
}
.itemListBottonDetail{
    position: relative;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    overflow: hidden;
}

.itemListBottonDetaillist{
    position: relative;
    width: 25%;
    float: left;
    visibility: hidden;
}

.itemDatailImg{
    /* position: absolute;
    left: 0px;
    top: 0px; */
    width: 100%;
}
.team .list{
    width: 20%;
    float: left;
    margin-right: 6.66%
}
.slide {
    position: relative;
}
ol.marked {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    padding: 10px 0;
}
ol.marked li {
    width: 42px !important;
    border: none !important;
    border-radius: 5px 0px !important;
    background-color: #161616 !important;
    float: left;
    margin: 0 10px;
    height: 10px;
    list-style: none;
    cursor: pointer;
}
ol.marked li.active {
    background-color: #fc4a31 !important;
    box-shadow: 0 0 5px #fc4a31;
}
.inner {
    width: 300%;
    position: absolute;
    top: 30%;
    transition: left 0.5s linear;
    left: 0;
}
.inner .item {
    float: left;
    width: 33.3%;
    padding: 0 5%;
    box-sizing: border-box;
}
.itemBack{
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: contain center;
    height: 246px;
    overflow: hidden;
}
.named {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-top: 40px;
}

.named:before {
    content: '';
    height: 15px;
    border: 4px solid #fb4134;
    border-radius: 0px 5px !important;
    background-color: #fc4a31 !important;
    box-shadow: 0 0 5px #fc4a31;
    display: inline-block;
    position: relative;
    left: -20px;
}
.biaoqian {
    text-align: center;
    font-size: 14px;
    color: #666;
    line-height: 26px;
}
.lvli {
    text-align: center;
    color: #aaa;
    margin-top: 20px;
}
.itemBack:hover{
    background-image: url(../images/backred.png);
    transform:scale(1.2);
}

.itemBack img{
    position: relative;
    width: 40%;
    margin: 5% auto;
}

.team .left img{
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%)；
}

.team .right img{
    position: absolute;
    right:6%;
    top: 50%;
    transform: translateY(-50%)；
}

.contactUs{
    padding: 150px 10%;
}

.contactUs .list{
    width: 25%;
    padding: 0px 2%;
    float: left;
}

.listback{
    background-image: url(../images/contant.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    height: 208px;
    line-height: 208px;
    text-align: center;
    overflow: hidden;
}

.erweima{
    display: none;
    background-image: url(../images/link.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    /* height: 208px; */
    padding: 25px 40px;
    box-sizing: border-box;
    color: #ffffff;
}
.erweima>div {
    padding: 10px 20px;
    font-size: 16px;
    text-shadow: 0 0 5px #fff;
}

.contantfont{
    margin-top: 20px;
    height:12px;
    background-image: url(../images/leftright.png);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-position: center center;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.contantfontBottom{
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.erweima img{
    width: 80%;
    margin: 5% auto;
}
.list:hover .listback{
    background-image: url(../images/contantred.png);
    transform:scale(1.2);
}

.list:hover .listback i{
    color: #FB3F31 !important;
}

.list:hover .erweima{
    display: block;
}

.youxiang .erweima {
    width: 320px;
    height: 320px;
}
.youxiangText {
    line-height: 190px;
}

@-webkit-keyframes starlight
{
    0%{  opacity: 0.2}
    60%{opacity: 1}
    100%{opacity: 0.2}
}

@-webkit-keyframes introductionlight{
    0%{  opacity: 0.1}
    55%{opacity: 1}
    100%{opacity: 0.1}
}



/* 大屏幕（大桌面显示器，大于等于  */
@media (max-width: 1200px) {
    .home .circle{
        width: 67%;
    }
    .homeBottomText{
        bottom: 10%;
        width: 45%;;
    }
    .disLeft {
        position: relative;
        transform: translateY(0);
        width: 60%;
        left: 10%;top: 0;
        margin-top: 140px;
    }
    .disRig {
        position: relative;
        transform: translateY(0);
        left: 2%;top: 0;
        width: 70%;
        margin-top: 50px;
    }
}

/* 中等屏幕（桌面显示器，大于等于  */
@media (max-width: 992px) {
    
}

/* 小屏幕（平板，大于等于  */
@media (max-width: 760px) {
    .home .circle{
        width: 92%;
    }
    .homeBottomText{
        bottom: 10%;
        width: 62%;
    }
    .introduction img {
        width: 95%;
    }
}